body {
    font-family: monospace;
    background-color: #ccc;
    color: #222;
    font-size: 13px;
}
body input, body select, body button, .selectContainer {
    font-family: sans-serif;
    background-color: #ddd;
}
a.btn {
    cursor: default;
    font-family: sans-serif;
}
button, input, select, a.btn{
    outline: none;
}
.light body button:hover,
.light body a.btn:hover {
    background-color: #eef;
}
.dark body button:hover,
.dark body a.btn:hover {
    background-color: #226;
}
#app {
    max-width: 1100px;
    margin: auto;
}
.dark body {
    background-color: #252222;
    color: #ddd;
}
.dark body {
    background-color: #252222;
    color: #ddd;
}
.dark body input, .dark body select, .dark body button {
    background-color: #363333;
    color: #ddd;
}
.itemToSelect {
    display: block; cursor: default;
}
.itemToSelect:hover {
    background-color: black;
    color: white;
}
.dark .itemToSelect:hover {
    background-color: black;
    color: white;
}
.selectContainer{
    display: inline-block;
    position: absolute;
    background-color: white;
    max-height: 202px;
    border: 1px solid gray;
    overflow: auto;
    padding: 5px 7px;
}
.dark  .selectContainer {
    background-color: #252222;
}
.tabContent {
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 10px;
}
.pl15{
    padding-left: 15px;
}
button.forTab {
    padding: 0;
    margin: 0;
    outline: none;
    border: 2px solid gray;
    padding: 3px 12px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px;
    background-color: #ccc;
}
.dark button.forTab{
    background-color: #151111;
}
.fright {
    float: right;
}
button.forTab.active {
    background-color: #ddd;
    border: 2px solid #eff;
    font-weight: bold;
    border-bottom: none;
    margin-bottom: -1px;
    vertical-align: bottom;
    width: 50px;
    box-shadow: 0 -10px 10px #ccf;
    height: 30px;
}
.dark button.forTab.active {
    background-color: #252222;
    border: 2px solid #55f;
    border-bottom: none;
    box-shadow: 0 -10px 10px #22a;
}
button.del, .dark button.del  {
    color: red;
    border: 1px solid red;
}
.infoBlock {
    margin: 7px 0;
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
}
.showNextLines{
    white-space:pre
}
.dark .infoBlock {
     background-color: #363333;
 }
.mw350{
    max-width: 350px;
}
.hidden {
    display: none;
}
button.warnBnt {
    border: 1px solid darksalmon;
}
.btnSet.connected button.left{
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btnSet.connected button.right{
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -8px;
}
.light .btnSet.connected button.active{
    background-color: #eff;
    box-shadow: none;
    color: limegreen;
}
.dark .btnSet.connected button.active{
    background-color: #005;
    box-shadow: none;
    color: white;
}
.dark .warn {
    color: pink;
}
.light .warn {
    color: #b0f;
}
.idle{
    color: #0b0;
}
.dark .idle {
    color: lightgreen;
}
.fleft{
    float: left;
}
.w45 {
    width: 45% !important;
}
button.toggle{
    width: 250px;
}
button.toggle b{
    letter-spacing: 1px;
    text-transform: uppercase;
}
select, input, button, a.btn {
    margin: 5px 0;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 8px 20px;
}
table {
    width: 100%;
    padding: 3px 7px;
    text-align: center;
    border-collapse: collapse;
}
.dark table tr,
.dark .bb {
    border-bottom: 1px solid #444;
}
.light table tr,
.light .bb {
    border-bottom: 1px solid #bbb;
}
.spinerContainer{
    margin: -28px 0 -90px 90px;
    float: left;
}
.modalContent{
    padding: 15px 0;
    max-height: calc(100vh - 270px);
    overflow-y: auto;
}
.simCtrl{
    min-width: 160px;
}
.simCtrl.isSimRunning {

}
b.simDisplay {
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    padding: 2px 5px;
    min-width: 70px;
    text-align: center;
    background-color: white;
}
.taCenter {
    text-align: center;
}
.dark b.simDisplay{
    background-color: black;
}
table.genInfo th, table.genInfo td{
    padding: 3px 7px;
    text-align: center;
}
table .itemName {
    text-align: left;
}
.light button:not(.forTab),
.light a.btn{
    margin: 0 15px;
    background-color: #eff;
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: inset 0 0 15px #ccf;
}
.light .textureColor{
    background-color: #ccc;
    color: #222;
}
.dark button:not(.forTab),
.dark a.btn{
    margin: 0 15px;
    border-radius: 8px;
    background-color: #114;
    padding: 8px 20px;
    box-shadow: inset 0 0 15px #55f;
}
.dark ::-webkit-scrollbar {
    background-color: #664444;
}
.dark ::-webkit-scrollbar-thumb {
    background: #221111;
}
.bagItems, .extendOptionsSection, .mainFieldsSection{
    vertical-align: top;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #eee;
}
.bagItems{
    margin-top: 10px;
    display: block;
}
.extendOptionsSection {
    width: calc(60% - 32px);
}
.mainFieldsSection {
    width: calc(40% - 40px);
}
.bagItems table {
    width: 100%;
    margin: 10px 0;
}
.bagItems table td{
    min-width: 90px;
}
.bagItems table input,
.bagItems table select {
    min-width: 80px;
    width: 50%;
}
.bagItems table td.itemName input{
    width: 12vw;
}
.fldWrapper {
    border-radius: 4px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    width: calc(100% - 30px);
    border: 1px solid #eee;
}
.fldWrapper input[type=text],
.fldWrapper input[type=number]{
    width: calc(100% - 41px);
}
.fldWrapper select {
    width: 100%;
}
.w70p{
    width: 70%;
}
.dib{
    display: inline-block;
}
.console{
    margin: 10px 0;
    vertical-align: top;
    padding: 10px 15px;
    border: 1px solid #eee;
}
.tabBtnSet, .btnSet, .center{
    text-align: center;
}
.tabBtnSet {
    display: block;
    width: 100%;
}
.btnSet{
    padding: 10px;
}
.tabBtnSet {
    margin-top: 15px;
}
table.twoColsToCenter tr td {
    width: 50%;
    padding: 10px;
}
table.twoColsToCenter tr td:first-child{
    text-align: right;
}
table.twoColsToCenter tr td:last-child{
    text-align: left;
}
body .modal {
    position: absolute;
    top: 70px;
    background: none;
    width: 1100px;
    margin-bottom: 70px;
}
body .modal .modalBody{
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: #eee;
    box-shadow: 0 0 100px #333;
}
.dark body .modal .modalBody{
    background: #252222;
    box-shadow: 0 0 100px #ccf;
}