<!DOCTYPE html>
<html class="dark">
<head>
    <meta charset="UTF-8">
    <title>LootBags Mod Config Generator</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="vendor/css/spiner.css">
    <script src="vendor/js/vue.js"></script>
    <script type="text/javascript" src="js/itemsList.js"></script>
    <script type="text/javascript" src="js/translateMap.js"></script>
    <script type="text/javascript" src="js/defaultBagsData.js"></script>
    <script type="text/javascript" src="js/helper.js"></script>
    <script type="text/javascript" src="js/vue_app.js"></script>
    <script type="text/javascript" src="js/directives-components/select-search.cmp.js"></script>
    <script type="text/javascript" src="js/directives-components/modal.cmp.js"></script>
    <script type="text/javascript" src="js/directives-components/translate.js"></script>
</head>
<body>
<div id="app" v-if="pageRendered">
    <div v-if="viewSim" class="modal">
        <div class="modalBody">
            <div class="btnSet">
                <button @click="isSimRunning ? stopSim() : startSim(simData.bag)">
                    <translate :class="isSimRunning ? 'warn' : 'idle'" :text="isSimRunning ? 'Stop simulation' : 'Restart simulation'" :lang="lang"/>
                </button>
                <button @click="isSimRunning = false; viewSim = false"><translate text="Stop & Close" :lang="lang"/></button>
            </div>
            <div class="modalContent">
                <table class="twoColsToCenter">
                    <tr>
                        <td><translate text="Total simulations finished" :lang="lang"/></td>
                        <td><b class="simDisplay">{{simData.opensCount}}</b>
                            <div class="spinerContainer" v-if="isSimRunning">
                                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                            </div>
                        </td>
                    </tr>
                </table>
                <span class="fldWrapper fleft w45">
                    <span><translate text="Maximum simulated operations per second" :lang="lang"/></span>:
                <select v-model="simSpeed"><option v-for="speed in [5,20,50,100,200,500,'unlimited']">{{speed}}</option></select>
                </span>
                <span class="fldWrapper fright w45">
                    <span><translate text="Stop after simulations count" :lang="lang"/></span>:
                <select v-model="simLimit"><option v-for="sLimit in [100,200,500,1000,2000,5000,10000]">{{sLimit}}</option></select>
                </span>

                <div>
                    <table>
                        <tr>
                            <th><translate text="Item Label" :lang="lang"/></th>
                            <th><translate text="Got spots count" :lang="lang"/></th>
                            <th><translate text="Got items per spot meet (middle)" :lang="lang"/></th>
                            <th><translate text="Got items per bag open (middle)" :lang="lang"/></th>

                            <th><translate text="Calculated chance" :lang="lang"/></th>
                            <th><translate text="Chance by simulation result (in case if 1 drop spot in a bag)" :lang="lang"/></th>
                            <th><span><translate text="Chance by simulation result (considering multi spots drop in bag" :lang="lang"/></span>: {{simData.bag.minItemsPerOpen}}-{{simData.bag.maxItemsPerOpen}})</th>
                            <th><translate text="Total count of items that you have got during simulation (in case if 1 drop spot in a bag)" :lang="lang"/></th>
                            <th><span><translate text="Total count of items that you have got during simulation (considering multi spots drop in bag" :lang="lang"/></span>: {{simData.bag.minItemsPerOpen}}-{{simData.bag.maxItemsPerOpen}})</th>
                        </tr>
                        <tr v-for="item in simData.items">
                            <td>{{item.name}}</td>
                            <td>{{item.meetSpotCount}}</td>
                            <td>{{item.itemsPerMeet}}</td>
                            <td>{{item.itemsPerOpen}}</td>

                            <td>{{item.percent}}</td>
                            <td>{{item.simPercentIfAlone}}</td>
                            <td>{{item.simPercent}}</td>
                            <td>{{item.itemGotCountFirstTry}}</td>
                            <td>{{item.countOfGotItemsTotal}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <modal :params="configPreviewParams" :lang="lang" v-if="showConfigModal">
        <div class="modalContent">
            <p><translate text="Config preview" :lang="lang"/></p>
            <div class="infoBlock showNextLines">{{configData}}</div>
        </div>
    </modal>

    <modal :params="configReaderParams" :lang="lang" v-if="showConfigReaderModal">
        <div class="modalContent">
            <h3><translate text="Experimental! (not stable)" :lang="lang"/></h3>
            <input type="checkbox" v-model="preventItemDuplicates">
            <b><translate text="prevent item duplicates, but try to link them via including items from other bags with using multipliers (recommended)" :lang="lang"/></b><br/>
            <input type="file" @change="readFile($event)"><br/>
            (Lootbags_BagConfig.cfg)
        </div>
    </modal>

    <div class="btnSet connected">
        <select v-model="globalStyle" @change="setStyle">
            <option v-for="t in [{name: 'dark', theme: 'dark'}, {name: 'light', theme: 'light'}]" v-bind:value="t.theme">
                {{translateMap[lang][t.name] || t.name}}
            </option>
        </select>
        <button class="left" @click="showGeneralInfo=true" v-bind:class="{ active: showGeneralInfo }">
            <span><translate text="general info" :lang="lang"/></span>
        </button>
        <button class="right" @click="showGeneralInfo=false" v-bind:class="{ active: !showGeneralInfo }">
            <span><translate text="bags config" :lang="lang"/></span>
        </button>
        <select v-model="lang">
            <option v-for="l in [{label: 'English', value: 'en'},{label: 'Русский', value: 'ru'}]" v-bind:value="l.value">{{l.label}}</option>
        </select>
    </div>
    <br/>
    <div v-if="showGeneralInfo">
        <div class="btnSet">
            <button @click="genAndShowConfig()">
                <span><translate text="Generate LootBags Config" :lang="lang"/></span>
            </button>
            <button @click="showReaderModal()">
                <span><translate text="Read Config From File" :lang="lang"/></span>
            </button>
        </div>
        <table class="genInfo">
            <tr>
                <th><translate text="Bag name (type)" :lang="lang"/></th>
                <th><translate text="Bag sub-title" :lang="lang"/></th>
                <th><translate text="Min drop items per bag" :lang="lang"/></th>
                <th><translate text="Max drop items per bag" :lang="lang"/></th>
                <th><translate text="a color of bag text name" :lang="lang"/></th>
                <th><translate text="texture color" :lang="lang"/></th>
                <th><translate text="items count" :lang="lang"/></th>
                <th><translate text="count of outside included items" :lang="lang"/></th>
                <th><translate text="total items" :lang="lang"/></th>
                <th></th>
            </tr>
            <tr v-for="bag in bags">
                <td>{{bag.name}}</td>
                <td>{{bag.subTitle}}</td>
                <td>{{bag.minItemsPerOpen}}</td>
                <td>{{bag.maxItemsPerOpen}}</td>
                <td>{{bag.textColor}}</td>
                <td v-bind:style="{ 'background-color': (bag.isCustom ? bag.textureColor : 'none')}">
                    <span class="textureColor"><translate :text="bag.isCustom ? bag.textureColor : 'default texture color'" :lang="lang"/></span>
                </td>
                <td>{{bag.items.length}}</td>
                <td>{{bag.listOfIncludedItems.length}}</td>
                <td>{{(bag.items.length || 0) + (bag.listOfIncludedItems.length || 0)}}</td>
                <td><button @click="startSim(bag)" ><translate text="simulate bag opening" :lang="lang"/></button></td>
            </tr>
        </table>
        <br/>
        <div class="console" v-if="showJson">
            {{bags}}
        </div>
        <div class="btnSet">
            <button @click="showJson=!showJson">
                <span v-if="showJson"><translate text="Hide current Json" :lang="lang"/></span>
                <span v-else><translate text="Show current Json" :lang="lang"/></span>
            </button>
        </div>
    </div>
    <div v-if="!showGeneralInfo">
        <div class="btnSet">
            <button @click="addBag()"><span><translate text="Add a Bag" :lang="lang"/></span></button>
        </div>
        <span class="tabBtnSet">
            <span v-for="bag in bags">
                <button class="forTab" @click="chooseBag(bag)" v-bind:class="{ active: bag.isActive }">{{bag.id}}</button>
            </span>
        </span>
        <div v-for="(bag, bagIdx) in bags">
            <div v-if="bag.isActive" class="tabContent">
                <div class="mainFieldsSection">
                <span class="fldWrapper">
                    <span><translate text="Bag name (type)" :lang="lang"/></span>
                    <br/>
                    <select v-model="bag.name">
                        <option v-for="n in bagNames">{{n}}</option>
                    </select>
                </span>
                    <br/>
                    <span class="fldWrapper">
                        <span><translate text="Bag sub-title" :lang="lang"/></span>
                    <br/>
                    <input type="text" v-model="bag.subTitle" placeholder="subTitle"/>
                </span>
                    <br/>
                    <span class="fldWrapper">
                        <span><translate text="Min drop items per bag" :lang="lang"/></span>
                    <br/>
                <input v-model="bag.minItemsPerOpen" @change="checkMinMaxForBag(bag)" type="number" placeholder="minItemsPerOpen"/>
                </span>
                    <br/>
                    <span class="fldWrapper">
                        <span><translate text="Max drop items per bag" :lang="lang"/></span>
                    <br/>
                <input v-model="bag.maxItemsPerOpen" @change="checkMinMaxForBag(bag)" type="number" placeholder="maxItemsPerOpen"/>
                </span>
                    <br/>
                    <span class="fldWrapper">
                        <span><translate text="a color of bag text name" :lang="lang"/></span>
                        <br/>
                    <select v-model="bag.textColor" placeholder="textColor">
                        <option v-for="c in colorNames">{{c}}</option>
                    </select>
                </span>
                    <br/>
                    <span class="fldWrapper">
                    <label class="w70p dib">
                        <input type="checkbox" v-model="bag.isCustom"/>
                        <span><translate text='is custom texture color (stable works only with "lootbagCommon")' :lang="lang"/></span>
                    </label>
                    <span v-if="bag.isCustom">
                        <input v-model="bag.textureColor" type="color" placeholder="textureColor"/>
                    </span>
                </span>
                </div>

                <div class="extendOptionsSection">
                    <span class="dib">
                        <input type="checkbox" v-model="bag.extendableBag" @change="cancelExtending(bag)">
                        <span><translate text="include other bags drop" :lang="lang"/></span><br/>
                        <span><translate text="(with weight and item count multipliers)" :lang="lang"/></span>
                    </span>
                    <button class="fright del" @click="deleteBag(bag, bagIdx)"><translate text="Delete this bag" :lang="lang"/></button>
                    <div v-if="bag.extendableBag">
                        <div class="btnSet">
                            <button @click="bag.includeDrop.push({increaseDropItems: 2, reduceDropWeight: 2})" >
                                <span><translate text="Add drop from other bag" :lang="lang"/></span>
                            </button>
                            <button class="" @click="showWarn = !showWarn">
                                <span v-if="showWarn"><span><translate text="Hide recommendations" :lang="lang"/></span></span>
                                <span v-else class="warn"><span><translate text="Show Important Info" :lang="lang"/></span></span>
                            </button>
                        </div>
                        <div v-if="showWarn" class="infoBlock">
                            <b><translate text="What is this done for?" :lang="lang"/></b>
                            <span><translate text="It will help you to include items drop from low-level bags to high-level bags
                            without requirement to add same items handly. So it may save your time while you making your new
                            lootbag config.
                            That's why you have to increase items count and reduce relative weight of including drop items
                                of bag." :lang="lang"/>
                            </span><br/>
                            <span><translate text="It is strongly recommended to config including drop of other bags by next rules:" :lang="lang"/>
                            </span><br/>
                            <span><translate text="1) Please use Increase drop Items multiplier that may be divided by 2 without remainder (2,4,6, etc)" :lang="lang"/></span><br/>
                            <span><translate text="2) Remember, that if drop items count (after multiplier apply) will be more than 64, it will reduce to 64." :lang="lang"/></span><br/>
                            <span><translate text="3) Please use Reduce drop weight multiplier that may be divided by 2 without remainder (2,4,6, etc)" :lang="lang"/></span><br/>
                            <span><translate text="4) After finish setup an including drop items, you may see relative items drop chance in item drop table. Included items drop cannot be edit inside current bag, because them used just for review. But you may change them if you go to the parent bag of that items." :lang="lang"/></span>
                        </div>
                        <table>
                            <tr v-for="(incdp, incIdx) in bag.includeDrop">
                                <td>
                                    <button class="del" title="Delete" @click="delIncDrop(bag, incIdx)">X</button>
                                </td>
                                <td>
                                <span class="fldWrapper">
                                    <span><translate text="Select a bag to include drop from" :lang="lang"/></span>
                                    <br/>
                                    <select v-model="incdp.bagId" @change="recalcDrop(bag)">
                                        <option v-for="bagToInclude in bags" v-bind:value="bagToInclude.id"
                                                v-bind:class="{ hidden: checkVisability(bag, bagToInclude) }">
                                            <span v-if="bag.id != bagToInclude.id">
                                                {{bagToInclude.id}} - {{bagToInclude.name}} - {{bagToInclude.subTitle}}
                                            </span>
                                        </option>
                                    </select>
                                </span>
                                </td>
                                <td>
                                <span class="fldWrapper" v-if="incdp.bagId != null">
                                    <span><translate text="Increase drop Items (in times)" :lang="lang"/></span>
                                    <br/>
                                    <input type="number" @change="checkMultipliers(incdp);recalcDrop(bag)"
                                           v-model="incdp.increaseDropItems">
                                </span>
                                </td>
                                <td>
                                <span class="fldWrapper" v-if="incdp.bagId != null">
                                    <span><translate text="Reduce drop weight (in times)" :lang="lang"/></span>
                                    <br/>
                                    <input type="number" @change="checkMultipliers(incdp);recalcDrop(bag)"
                                           v-model="incdp.reduceDropWeight">
                                </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="bagItems">
                    <div class="btnSet">
                        <button @click="addDropItem(bag)"><translate text="Add item to bag drop list" :lang="lang"/></button>
                    </div>
                    <table v-if="bag.items.length > 0">
                        <tr>
                            <td></td>
                            <td><translate text="Item Label" :lang="lang"/></td>
                            <td><translate text="min" :lang="lang"/></td>
                            <td><translate text="max" :lang="lang"/></td>
                            <td><translate text="local weight" :lang="lang"/></td>
                            <td><translate text="global weight" :lang="lang"/></td>
                            <td><translate text="chance" :lang="lang"/></td>
                        </tr>
                        <tr v-for="(item, key) in bag.items">
                            <td>
                                <button class="del" title="Delete" @click="delItem(bag, key)">X</button>
                            </td>
                            <td class="itemName">
                                <select-search v-model="item.name" v-on:valselect="resetUsedItems(bag, key, $event)"
                                               :list="itemLabels" :exceptions="bag.usedItemNames"></select-search>
                            </td>
                            <td><input v-model="item.min" type="number" @blur="checkMinMax(item)"/></td>
                            <td><input v-model="item.max" type="number" @blur="checkMinMax(item)"/></td>
                            <td><input v-model="item.weight" type="number" @change="recalcGlobPercentWeight(bag)"/></td>
                            <td>{{item.globalWeight}}</td>
                            <td>{{item.percent}} %</td>
                        </tr>
                        <tr v-for="(item, key) in bag.listOfIncludedItems">
                            <td></td>
                            <td>{{item.name}}</td>
                            <td>{{item.min * item.increaseDropItems}} ({{item.min}} * {{item.increaseDropItems}})</td>
                            <td>{{item.max * item.increaseDropItems}} ({{item.max}} * {{item.increaseDropItems}})</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.globalWeight}}</td>
                            <td>{{item.percent}} %</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>